*{
    margin: 0;
    padding: 0;
}
/*comment for css wow*/
body{
    color: black;
    font-size: 2vw;
}

.header-container-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    color: white;
}

.logo{
    font-size: 4vw;
    color: white;
    margin: auto;
}

.page{
    margin: auto;
    color: white;
}

.menu-item-info{
    display: flex;
    flex-direction: column;
    border-color: black;
    border-width: 0.2vw;
    border-style: solid;
    width: fit-content;
    cursor: pointer;
}

.food-image{
    width: 5vw;
    height: fit-content;
}

.menu-item-container{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.hidden-content{
    display: none;
}


